{% include "header.html" %}

<!-- Used this to embed my google album: https://www.publicalbum.org/blog/embedding-google-photos-albums -->
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>Alaska 2020</h1>
      <p></p>
  <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
      data-link="https://photos.app.goo.gl/iowQJPsucCEaDkcT9"
      data-title="Alaska 2020"
      data-description="42 new items added to shared album">
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPwoqnt5E4iW_EJJ75n7wjx3hpIM01ODRazJhXyDvA-Q85N6XbfiMK-yZnPiabNyO1MvWsn2R04-5qY4QGIIJ1-LLTcGPkT7GD1AKxhtq1hCP5uwqDr=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMFirTMDtigPXaq5u5d534cBbRVTw3aweF8m9ACA8RuhHXm0tLMjA8OEdmzUY2xu9sbabQ83RSaYisaji9NF0NfOaDnnI1oftBjayauhxH7KDHMmY19=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPMqEDCHRd-PKwPz5_l98lzKSm2Cb_6p3eZeQagl_G7XdjjpsDQWyXH3nom7b2OXf-h13l76bqGtYw5iPNrcrdr2TktTwc1xv8sLOiCczazoDJeSMql=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP_2VfUZ0-T1HAg84TEC1mWFqfdF4b8aiggQWdNG5TDZJ4KHaLTeVHGo9xOuxAoN0nv8z4Co2GWBkBV-I7xAR99xtHAp8xdYNCtKs4WUABHXzorrhZs=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP4I_oePNHVhxl-N7vmOtORjF0PfQHJmWN_LvxrRdqdIdQ5hko-xf-499WAcxjuekqRRgV-3lA3tU0MpHFoo9b_zRImzeov7X1KJpH1lxxozBWOinsj=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNbjt4edJ9KeIRgQIOgtYgfC0Ut3FaaQRAmu0xSD1gOSoX8Y_yAGOceU_1JxhPoPxXzV_umTWWirMvaLR0mb328Ke69wkbYq11_UPMt_rLmse1YC2QC=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP364f4k92hDKrd8kQQ1I8LmBTvg73VXiNK-w5PChzRls26UnrMYElX1giktMLFwoGTp1jzAJVWF0FU1RGAUmJkDQsJNy-0fO2c73CZqkNo5HK6Oahx=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOXMAMXdekwPNYLgIKbc-Whigb_78wMRBKxmlPNTsPCYXBOqlMgJs2DM-oUCwWSNn37V4VQ8atnoW2-OjKKYg5zQFVvTuMqUbr4mK5JEzAUxCih5grQ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOIlW2LtqyA_Htga2vHmVfog0yAWALpQWyu-DyCzxh1puxzrHY0qybytEXlGd8IfgTewIzIMZMgJhyYZOvefMBSZgJtmzyJ2unP12agQpl3V6fgAZpm=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPEA5iDhTOYFpl_FWdUAtNJiiV49Gbo0jKtg2u5_4rLodIEzj-dX6FlGvWTxRFis4omYvmORYgE-XhKnwT-wmEg-ZbrgOrw5_7Fc7ZFMNQHeyFXUBi1=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOR-Z22eNhfZeQsW_AfUDc6ZaxDk7Z2TFlpMHxMr-JOaiOBfkg6z0Xb3ETggEmpwmzy6G6PGbekJmbmj-aPEFOPrmDgew7b7EzTcTnPsVmKxy3KnDAL=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPiWf7Xu4Eb3XnAPWK7NPxin1prUPoWdyucp9GSbxjYQMH-ph4tjF6JSq1zHXWBatUY3SfI2mZ1rwYit37Bt-HqMCx0tmIZzyndc5C3yC3Sqs0rjkPN=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPjuwcC2wrr28-dEQkeuSYzvo6iNfUPVtBfFavIpKWyO-jRsVNtXUJJW1seSP30F0yPP71hNnSyYY3YVRwmkVp1TcYQD3Ymzj37GM_8vH_qZpS2irBE=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPsWCqpzumeqCoz3VUu3wOsOL8A48HyX6T-2j3TAzg7JQtIay1_c6l0JRcU_CT1z3a72rSQewscczw0CreJywtRP08FWlh1agKSyKGzxXK_oluHRY-S=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP0FIVZvIwgsmiaeYr6wKCCCpStPY5KFi4qUQYkovW9sXMvzwSM4di6d0XxeX5asZN6jzhfkTKkSyYmdhCCB0iRjgwrnKqAXWDG_4yNx_gqUBGzPQ1A=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNPpLVleSPxV5vYF2-oIfzbbdn3PxJ8CTaIQbpK8FEtHdVvKohEapnZoviPWSBCdIBvr_k5yeVssgpN-1hEHkQFHj0vO-iYVNZOZEWBD0_2AayVxO7V=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMh9CsbwhfwwoQ5qxgB2hxbWBo2LU9FjXqh7VBnd5HoGD7wrc6l_RhuRf_b1Tkb7ckQbOHLQjLF8mX5ukp-eOglKBjop7zpwnz9W84xufxMstUcONFn=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOq3D-ZXOXXS5CMyBrQA-kNuMLbymZ0CmIa_xtLm8RMM5qDfqpVUVYLb5CX6LrY3AOfSVSZ6z4Vg2wuKX65U6srPWdX0DP6qu50tFb8Yt_rf_ZAfZaP=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP0WvADcVvo94C7W6DucmPeH-lbrg9peOuZsfojK--I57SJfC9up0Or_l2LiJSC_jsEwUVnS25ynr1wb5l9susD3afP5cj9IIF-r-0xnK_OtSgrr36A=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPcSEg-PzOyq-tvnKVokwo8OKq8-FPFugKnxPDtGNLCBvpy_RvBFmQlFdrYVlxZ6ZmQmgHBEFL-e5GLAgbFaRJ82APzO1-q6efOfKOQ46rITp5t_l8F=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOj5ksuYFE4a9stdK_3d8yOnB0fr7BRZnwQfYnxlgAukTZXj__EWhEsid92twMhqOAWT8qXuHQsKZJBaCHsY9DToyCFfTI3W07MUdAuoy7PkmFzGTga=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMIIJZA-TH3PHuLN9ZpY3vvV2c3dv6dHvQEKZnJVNwxZqvwF6OCIshA4Gz05AGiHsnzmnEtDZnMwywhQv8CE5vEN4EAHh2pbZbZtMMuqD8cXriM6-wj=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOrrhUZ6s6EZVfBuFr43m-cEKIeJipZYQsxta0o37uauDVP_Bz9vLizETP_5l7LAydVBdElz8ePv3UIBWhrGR45ClkidvWmrNpj1GDrcVpiGz6NI_rT=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOzCgwbQONVRsBw6n5xQePgq58fLakf9L6L7cR7MPx45hhhRPQDkzGXJLJL3b4E2iMh5P5rH9Oj7grSklF8VHbaAHzGzB-maoj2xifA1frTe9u2uKb1=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczO_4KvvbGCisnZ3EzLNQsEJD8mREqJjxuiulMVcTWMBOclEApIsIJgogu4JR2wCd9IzDQMhf3-9p4fph1DWgGLa1wgeb9UQkh-2DAAUmukApznxEUIe=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOb6J7nhrQ4mz6eH4xBnIJr4Ex3oRIiEFxPLHNEuOz2W--tf0CPllRd5yo53_V_ikC6UYfre0EkwD4EJYj22YPw8iAcM1Q2Kn2EEimdc4mAg5Tq4Tuf=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczO7nU2cpTl3ESTGEDue2citDC75L1UiJqSfV2850TRCSUdvTU_I2d4yBfiCSrjOGIde46vsZ9cN4j0nnNdQefbeJsnOnttjhuSPkkEh4X6S8joZAiXk=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczN7TF9NvMZPiL65FBB4e0YJ6HQlXu5yrKff7H4xgO5QX5T6ad8kh3FFWjP4nnaAFNPmawiRr4oCBNJcZIJIGS-KthWyx_w0xFpR2ASow8ec1Vjag2C9=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPLSyo7H86Os8EPsBP52-F9G1TjPne95VluFuSXNB5Ypyy1DnmBFnuaeyH7MJaOQFO4tZ_OUuBY1bCVYEp21dkC8P2_aO4-dr0_zlgWglTD1ik_UvRM=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczO4V-95RBbn-xWRmf7fGEZgSmtkHeYmgOSTv62S43Y9zaZl2Z7_QP5d37mZelVd-IAQf9fcYR1r9kEHs_q12QJxhzujMSqgFVL2fphyBqEo7vNlbUZb=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczM00WqM5kMcR0sWch4NArnkWiypKkO27Be6EJ1tcYXw5AbZCIC-FxhhQ3CQgvyTgaSvkw9VQgvebkSAw8nduPl-qUGPCnkw4Po2DubX0yZjeRWrNRMK=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPEYZIYZLPfZ9LuL_YW6Fjv_eMTvVMeDFqagO9nlsvsCWFHLgcO4g8iG3eEq0I_nyK08HiEE8mLo-21pjoClTjOC_RQgWvttKXFZWWq_mFqagsxV8kI=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOLlBwv_bYaxC8GzDHGpjT7u6KoXmJUfWYfutc27GGOXajGHfg1OPxRg81StMJBCz-zfrOI0x2-_XwnADIrCDeBLiEErFbcmbZhfDz4hANX0V4x4NdZ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNwWjmfREDYD74qXPF_Tf3upH9pb-2eJLXy1bj27qYUikVB_7WjFRY_gh5L3Ixe2pwzu_re4KwAveQ17Z7iCL68aNHGPpdldxtJgM3QM3C3hoYxtZx1=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOZSYmqUTAdwWgPRNs7sAiX583U33WB9b_6aXqBHuzc9f3T_w6dvb1lIpXlPotZzXoR_kXx4KrjogWnBAT7PGDYVW7BjjUyenyCB2TThcfujcy55fwP=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNAKk4xU3iSqHhChoVqDuGAg10gmZoLfBJKX6CnAeExJcAwNYyy7el4vtm6-FiOgHVX8XsVlNKGGDUpr1VCBnCZNZV6ia093oYP18UlAKwkQXbwNnwZ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMrL5m6V-Mf8NJ2jqH0gQqOhX6iI70EmyfIPjrwFyRqkSzY_zuKY0sFHokKc_bYtXaMqAEfAAzaJL0siIh22wUHGGFOlrzYTSPS5bQlp8A47vxb81O4=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNl96R-lBqLKjDB71fSxwxpquOnrfI1rd7PHJTbwOwQM6klzTCnY02xflpWKgKXE6sqD5rQxp2UxGPcgSB50--FXO9cIOrrrtNeO6birtHpmmCkYg-n=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNOFC0gnA6J-Cc_8PuWaP1GxxhtRwgxP9MenNc81iXhORQF67j4FBIVBihDH9qYuKxVm3RVII0U384NuXTAV5T8vn9EOfxw7JXvyj-s2a3BFA2bUk7P=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczORKlt5I0XvMjVE6lPH6YdjTSWNPB0zm3TmfbhcI0mCAIpcHKI4neRhUUlDNbCZXDmiDDNjJyPm361SyS-P6ilptYRj-YUryY46d7-k0coq0fDGWBDj=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPMDlEn52IpfJzxUrShrcPpAeXFjWRfkPPdIVnzsxKRJ78itrbcgtQuz2UvyraOzi3Fog1aXMKkFp5iGJFy4s963ybxJgkiB_G8Uq1H2XEDgTNmIn8Z=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPsMVEkYBlJWxcAU8KUP_VjXMYembD90fpCsEPWZmDT1O2gRr9DSObeRDnFw7z8avo1m9ajz39er6ss3lpDaYfNvlN5uO0quRyJTJaeDBuiXWuy5Yg9=w1920-h1080"></object>
    </div>

   </div>
</div>

{% include "footer.html" %}