{% include "header.html" %}

<!-- Used this to embed my google album: https://www.publicalbum.org/blog/embedding-google-photos-albums -->
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>Argentina 2022</h1>
      <p></p>
  <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
    <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
      data-link="https://photos.app.goo.gl/ANGFfWFDQRN68gzPA"
      data-title="Argentina 2022"
      data-description="29 new items added to shared album">
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP8dbx3zoV1-l5nCxucoHi48RrmnlQZVzZcSD4VvPxH9mgqpT6lyh2wIDIRj9voE0cswpfhKSnTMVWQIRNmXg22OL9WpOtqrVimvQ7shzk6Ckl_UIJK=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNiBErlzBjSwUXJwMyTep0lqNqYFadoTxETtNgZJm4mxFrpSU1DiG_bOPQmKcm1nLw-L61Zr_ojRoA3GCGEGvyjNqe1Afe2Zq7-yYJySD6xB2T4slcp=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP2Rqeaodm815OsBMVTGMNBaFzXY8qsNIlqkgLozPw_1HlZldrdltdK4zbBjlu2w2M_Ga_p3-_3uHdjw4i3ZZJHoZdUwROrUQr-Cw0rSWPpDcj8Bwz6=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNS9kY2W193ZYFVaZECaed4SukDEhwAWQ0KMtwrJD3WRToH_vHO4AFmOLKappZ1d3oPofBgYVK4Dot8JWTyP3rRHLO0sIA9HQ2kMdYfNHww-SNrGdsd=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPPjQKd3Edhzk1XPPbIz-gDiWqjmMJc2dlpuB8i6OjHKpSovubU7YJVwDjRMAP5Ue8fmsUNq8ms82iyG1DxRF_3JLulYPeL_JHsVZuePyuf9v42OyxY=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOuIgtSnOuR2XBxODgEM0lvpPJ_pc0osMMCpj5Jh1YJitTGUIWZrsx9z2sUgwZ2TTAZT12LHfOw9YKvN6OWBBd4vzNAIzWNkVMLLp6fcEXIPSwBYD9j=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNa8Ous3TPbDssIKIeyJlSPiVqsy_37c6QH5gBxzzW15CTaDv1cys2D43SkFgdZlctmGpRAWkXDG0lOXfow9nRbM5j65H3YufYGpAz63vO3Paan0ch4=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNGT5guSfYgbtMXJi_hCGhFCNFChhrUWuax4kEICU8AYuAN1pMRpIX94fVR2cB_jAqsFf2aRDJTBSl2lSdDFLm99sKVi8mKpSKab3AiF-9IuQDGtDY7=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMXXk5pDEwg4WQMLNmtgLDhZceOf7-mtSrcIJKGoSkcCuIIevxmcXF1sOqu-Idv862UIY0IO-zyQ2x_uM2cTdKKQqBQwfrRA7kkJoSx3x3G1KBlaSuD=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMetxo-4wcsv7hOGdWwDXOBAqmAc44Jak53c0z1rCDwOlGdgOxSx0ghKfktULJU5cIFY_0sd714ltzluo7dTSZO54LgM_nePJApgrDbDWA0gUxYiPtx=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMkl7Azb8OihhGIlfTP8bJn--9Y440Kve5CTGGbthCeSTVmT_CLYa4Gt0kukIQLRjp9rT_ITs8hLtHJbJt27ccszj7i3I3bqUphfGFGBsOvbdnrJTWO=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPB65KbuwpD2zYqaJtV-HBLoFoBXU0lmxruCRZcQNyQx7ZwVi4BRcc0mbntirQjg9Mpf7cFifkeh-uvVQvi1WSWAbWB7yFPb0VG4k74q81h3oHmjtpR=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPvLcURFnZFvdD8OImN70_7-i6HMBaW6tSBEb4DusRrpJEB0vwRTrEByqw8UrYmEM8Pd47hECPUOdypL3u8cV8BuEoqlLJ9x6IsqMlkO2qu7ExmjMs_=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczN5tZ9Uo_adueNp2x_xMNg2bkRwgliqinv-KDBoU8k3sd5ypZkuPR3uTQeWaZsvFsMarSKi5tjPZS3nE4pHdElPb7Xo9b7eJ-y9YV_knxyKx_0nRlU6=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczN7o8MSwPrveT43tXKxcA5B6wxL9df6oyvQqwVwQ3V3CONtBmFgHfebhVkxI2WoMfXXPg21urzmP_oD-Jh0Y50-2tBMfMiE0DMqoeSI_Z5r687g-M02=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOQGT2y8kFczdWcj9NC7FBPnEOkfq3pSUN1Tox75marVYlDUTD27zVIZXlBJXFO5kYfyy0hmVVutw9fnh-cLXr9XfnfU3ocMyzeXcb0w4K5KZBT4Yhi=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMIPzOW8gE5Mvc4RTAYNa0-XjCB3rH15AJ4Ca3DhXwI0v2Vz7tA-Ax5xixNUaPJz-5dsRBoVacq4IdOkbcnazyUSZrbDcsy0oE8HvVAfGZfl6LmACtS=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPhFts7O1gCrgFz2fp74cHunW-geHat9w7vTx4VYJDMoe-IgJn1qf7bcIJ8DvhqY6Vq1wzKWC5ZEF0re_6BLEQMkVJKfdgODmubh600uv5uXdfe_4lf=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPp5_aJh8Yr4bDzbtwRWpa3b7ygtJ4RCdLFFKbHw6PjoIKOGXeoo-xvxZGByC7fpJj5gCRbW3aWUJvEpmpNWjVT3b682cjHzjkjcqPLyjaXNSLbplaD=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczM2V7HEIApm5izEvyHWTJwpGztITCJYewELvuxsp3LDVpn_3xKQtBd6dBcsHWV6rXSfLPGnieQ5-iKOMvLQduBS7NDmEoDR0FdDCrgNwRaF_g6APQiX=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNwEeCP3CnDx3kjQjt3WJrn7fXH3vWoNMF8z7QuXucIrDriG9jO1CP1qE_LheOjZfXR33Iweo-lc8pEL2EtK06Nq8kYRKd8NxWomicM1a6TqbJmgKH-=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczOloaAKJDrggBfjkS-ThiL8V1SkuAUI78r445YmH8G7yBnsPhZveDQtofp7Pa7A6JE0LWiQoAuzU-PAN4bCC9qZzR1zysIlbEJm1CTn40ZyUQ-VM8m0=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczPXgKvDaTeY18ZpoUgn93HGM9U0MtzDLfzxH8VzVdUHHFdAu8p9AiFy7v3vufmSPElrGX3J0BODVlOzrtdnuO5ncHewNYgPp8h9-v-z4ixMJSi30cE6=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczM-oJEKB2bixejRP581w2DTJnU18bqXV2d89PtS9mbGazOGTZBlV6bsls4298hKPS3c_sDM3iM6XYJI1_TJWSbvC5wOfc8fUyf8GASfguGfXxVm1Ojv=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMejXfpgNTfHMp3d6kAntn0y2YtWxeMCP78BnyQdRR53RKCsNeADFxWYax5czP843PGY-NFSE4Hurf6shbHGJorEPsFVU3h-JrixiCkoXSvqbSh22yB=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczMYKyCpwLvfu7V_yyV_6zhNqcflStrtBAQq5d4ialrwlsOimkTNe5HZgJMLccX3gXW1m2H39x_CXb3aywIrrfw7sl1b-t1htbCsLP0mP73CyKUj5P51=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczNYDspU1lAPTYFfSiNtqruhT9Tu8BVPus8otLcVyVEOWHBAZcAepc_1bmkmiKuIS13AYNHuatGPn8sHlVZDro986cJaDm1ouEAEE4s3BpZYTU5VXPlJ=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczO7Did3sbsA-jXnkMOl7e5_XIDeLj-bqaYzqHzmzZzIuJBCDfIU_I83zZBgSnPyZRv8Mwkv3g-UweITyxW_caGNZxXqbWsB7_lZTOBlxcAxblKFsGA9=w1920-h1080"></object>
      <object data="https://lh3.googleusercontent.com/pw/AP1GczP6BezFXgu3-NPmPv8VsJXw-7W1-AYrlH3HFw6Lhh_FH01I9kD_uaD8zN88zAgjW_D_7xoYc-NuVP8kuw9L6NCv1qJ032aI8_gpt9_APtRpU1KDrkRV=w1920-h1080"></object>
    </div>

   </div>
</div>

{% include "footer.html" %}