{% include "header.html" %}

<!--    TODO: Add experience - this whole page-->

<main>
  <div class="container py-4">
    <div class="mb-4 rounded-3" style="background-color: rgb(85, 103, 156);">
      <div class="container-fluid py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
          <div class="col-10 col-sm-6 col-lg-4">
            <img src="/static/assets/anita_circle3.png" class="d-block mx-lg-auto img-fluid pe-3 align-center" alt="Anita Gandhi" width="400" loading="lazy">
          </div>
        <div class="col-lg-8">
          <h1 class="display-5 fw-bold text-white lh-1 mb-3 ms-5">Anita Gandhi</h1>
          <p class="lead text-white ms-5">Dynamic professional with 15 years of experience in Research,
            Performance Analysis, and Business Insights. Skilled in using advanced analytics tools
            to convert data into actionable insights and drive organizational impact.
            Expert in sophisticated analyses to address strategic and operational challenges,
            influencing decision-making and performance.</p>
          <a href="{{ url_for('portfolio') }}" class="btn btn-lg px-4 me-md-2 ms-5" style="background-color: rgb(225, 215, 183);">Experience</a>
          <a href="#" class="btn btn-outline-light btn-lg px-4 me-md-2 text-white">Education</a>
<!--            <button class="btn btn-secondary btn-lg text-secondary ms-5"
                 style="background-color: rgb(225, 215, 183);" type="button">Example button</button>-->
        </div>
      </div>
     </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 rounded-3" style="background-color: rgb(30, 42, 94); color: rgb(225, 215, 183)">
          <h2><img src="static/assets/sdc.png" height="50" alt="SmileDirectClub">  VP, Data & Analytics</h2>
          <p><h5>SmileDirectClub</h5></p>
           <p><h7>Nashville, TN [June, 2019 - December 2023]</h7></p>
          <p>At SmileDirectClub, I led a team of over 20 professionals in data science and analytics
            driving strategic decision-making across key business areas, including Marketing, Retail Operations,
            Finance, and Supply Chain. I spearheaded data integration and transformation efforts, developing
            centralized reporting systems that aligned with business needs. Additionally, I developed a customer
            segmentation and scoring strategy that enhanced personalized communication and improved customer insights.
            My regular analysis of consumer behavior and operational performance provided critical strategic guidance,
            influencing organizational decisions.</p>
<!--          <button class="btn btn-outline-light" type="button">Example button</button>-->
        </div>
      </div>
      <div class="col-md-6 py-4">
        <div class="h-100 p-5 border rounded-3" style="background-color: rgb(30, 42, 94); color: rgb(225, 215, 183)">
          <h2><img src="static/assets/fresh_direct_logo.png" height="50" alt="FreshDirect">  VP, Head of Analytics</h2>
          <p><h5>FreshDirect</h5></p>
           <p><h7>New York, NY [September, 2017 - March, 2019]</h7></p>
          <p>At FreshDirect, I created and implemented a customer value segmentation that drove targeting, messaging, and offer
            selection across the marketing and customer service departments. I spearheaded an analysis of the impact of
            specific service issues on customer retention, which focused service improvement investments and provided
            customer risk scores to personalize remediation efforts. I defined and implemented tracking reports to
            evaluate customer acquisition channels, promotion effectiveness, and new customer quality. Additionally,
            I developed and deployed a marketing mix model to determine channel spend. I regularly presented
            data-driven insights through compelling visualizations to the executive team.</p>
<!--          <button class="btn btn-outline-secondary" type="button">Example button</button>-->
        </div>
      </div>
    </div>
   <div class="row align-items-md-stretch py-4">
      <div class="col-md-6">
        <div class="h-100 p-5 rounded-3" style="background-color: rgb(30, 42, 94); color: rgb(225, 215, 183)">
          <h2><img src="static/assets/placeiq.png" height="50" alt="PlaceIQ">  VP, Custom Analytics</h2>
          <p><h5>PlaceIQ</h5></p>
           <p><h7>New York, NY [July 2015 - April 2017]</h7></p>
          <p>At PlaceIQ, I led teams across the company, including product management, data science, engineering,
            business development, marketing, sales, account management, legal, and accounting, to build and launch the
            award-winning location analytics product, LandMark. I also developed a custom analytics sales and execution
            process.</p>
<!--          <button class="btn btn-outline-light" type="button">Example button</button>-->
        </div>
      </div>
      <div class="col-md-6 py-4">
        <div class="h-100 p-5 border rounded-3" style="background-color: rgb(30, 42, 94); color: rgb(225, 215, 183)">
          <h2><img src="static/assets/experian.png" height="50" alt="Experian">  VP, Strategy</h2>
          <p><h5>Experian, Consumer Insights & Targeting</h5></p>
           <p><h7>New York, NY [April 2012 - May 2015]</h7></p>
          <p>At Experian, I served as a key member of the executive management team responsible for merging the Hitwise
            and Simmons business units. I merged and expanded the Strategic Services of the Consumer Insights team to
            provide analytics on combined online and offline consumer data, including both custom primary research and
            syndicated research. I also established a Custom Data and Analysis group that delivered digital marketing
            recommendations—such as search strategies, media plans, email tactics, and personalization
            opportunities—based on consumer online behavioral data.</p>
<!--          <button class="btn btn-outline-secondary" type="button">Example button</button>-->
        </div>
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %}