{% include "header.html" %}

<!--    TODO: Add experience - this whole page-->
    <div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    \<img src="static/assets/construction.PNG">
    <h1 class="text-body-emphasis">Assembly in Progress</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      I'm still working on this page
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        What does this do?
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </button>
      <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Who knows?!?!
      </button>
    </div>
  </div>
</div>
{% include "footer.html" %}