{% include "header.html" %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Home Projects</h1>
        <p class="lead text-body-secondary">I love DIYing!  And there is nothing better than a challenging home project</p>
        <p>
<!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
      </div>
    </div>
  </section>
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h2 class="fw-light">Living Room</h2>
        <p class="lead text-body-secondary">Wallpapered, painted and changed the tile on the fireplace.</p>
        <p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_livingroom_1.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_livingroom_1.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_livingroom_2.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_livingroom_2.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
      <p></p>
    </div>
    </div>
    <div class="album py-5 bg-body-secondary">
    <div class="container">
      <h2 class="fw-light">Kitchen & Dining Room</h2>
        <p class="lead text-body-secondary">Wallpapered, painted the cabinets, replaced built-in microwave
          and changed the light fixture.</p>
        <p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_kitchen_1.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_kitchen_1.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_kitchen_2.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_kitchen_2.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
      <p></p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_kitchen_3.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_kitchen_3.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
    </div>
    </div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h2 class="fw-light">Half Bath</h2>
        <p class="lead text-body-secondary">Wallpapered, painted and changed the light fixture.</p>
        <p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_powderroom_1.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_powderroom_1.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
      <p></p>
    </div>
    </div>
  <div class="album py-5 bg-body-secondary">
    <div class="container">
      <h2 class="fw-light">Patio</h2>
        <p class="lead text-body-secondary">Furnished</p>
        <p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_patio_1.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_patio_1.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_patio_2.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_patio_2.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
      <p></p>
    </div>
    </div>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <h2 class="fw-light">Guest Room</h2>
        <p class="lead text-body-secondary">Painted and installed a murphy bed...and added a Velvet Elvis!</p>
        <p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_guestroom_1.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_guestroom_1.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_guestroom_2.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_guestroom_2.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
      <p></p>
    </div>
    </div>
  <div class="album py-5 bg-body-secondary">
    <div class="container">
      <h2 class="fw-light">Office</h2>
        <p class="lead text-body-secondary">Painted and decorated.</p>
        <p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_office_1.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_office_1.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="static/assets/before_office_2.png"width="100%" height="100%" fill="#55595c">
            </div>
            <div class="col">
              <img src="static/assets/after_office_2.png"width="100%" height="100%" fill="#55595c">
            </div>
          </div>
        </div>
      <p></p>
    </div>
    </div>
</main>

{% include "footer.html" %}