
{% include "header.html" %}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/assets/anita_circle.png" class="d-block mx-lg-auto img-fluid" alt="Anita Gandhi" width="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" style="color: rgb(30, 42, 94)">Anita Gandhi</h1>
        <p class="lead" style="color: rgb(30, 42, 94)">Dynamic professional with 15 years of experience in Research,
          Performance Analysis, and Business Insights. Skilled in using advanced analytics tools
          to convert data into actionable insights and drive organizational impact.
          Expert in sophisticated analyses to address strategic and operational challenges,
          influencing decision-making and performance.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
<!--          TODO: change the link in the "Professional" button to go to experience once you've done that page-->
          <a href="{{ url_for('portfolio') }}" class="btn btn-lg px-4 me-md-2 text-white" style="background-color: rgb(85, 103, 156);">Professional</a>
          <a href="{{ url_for('personal') }}" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Personal</a>
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}
