{% include "header.html" %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Python Projects</h1>
        <p class="lead text-body-secondary">Below are a few of the projects I've completed coding in python.</p>
        <p>
<!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
      </div>
    </div>
  </section>
<!--TODO: Make all of the cards the same size-->
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/assets/navy-radio-telegraph-man-underwood-archives.jpg"width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p class="card-text"><b>Morse Code Translator</b></p>
              <p class="card-text">This is a text-based program to encode and decode international Morse Code.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-sm btn-outline-secondary">Run</a>
                  <a href="https://github.com/999Anita999/portfolio/tree/main/morse_code_translator" target="_blank" class="btn btn-sm btn-outline-secondary">View Code</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/website_image.PNG" width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p class="card-text"><b>This Website</b></p>
              <p class="card-text">I created this website using python. It has both professional and personal information about me.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('home_page') }}" class="btn btn-sm btn-outline-secondary">Run</a>
                  <a href="https://github.com/999Anita999/website" target="_blank" class="btn btn-sm btn-outline-secondary">View Code</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/navy-radio-telegraph-man-underwood-archives.jpg" width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p class="card-text"><b>NFL Dashboards</b></p>
              <p class="card-text">Tableau dashboards using data retrieval, web scraping and
                building a relational database.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('football') }}" class="btn btn-sm btn-outline-secondary">View</a>
                  <a href="https://github.com/999Anita999/portfolio/tree/main/portfolio_website" target="_blank"
                     class="btn btn-sm btn-outline-secondary">View Code</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

<!--        TODO: finish or remove the remaining tiles-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</main>

{% include "footer.html" %}