{% include "header.html" %}

<!-- Used this to embed my google album: https://www.publicalbum.org/blog/embedding-google-photos-albums -->
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>Portugal 2019</h1>
      <p></p>
      <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
      <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"
        data-link="https://photos.app.goo.gl/tPcfBeLYdCKu77Hb8"
        data-title="Portugal 2019"
        data-description="25 new items added to shared album">
        <object data="https://lh3.googleusercontent.com/pw/AP1GczNQCBG83RTS1t-x_bMiBlPKBV7GcS2dqdm0NTtOG9FSPe6xZX4JxyZAJRUpGcLTxu8DkFsrUm_oKAubqwhDX2Zy-oeJxtk7c_rTTMUBZU4impIDpbNp=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMFLtiNOOOAKACtky4_xiVHB7qg-AotYHJoBO5DxuJn7QBEyNrN5f2tsIIXzeiqXuyUTrcC3Q8mJqwg_ywYs6t51riXG9AZtPD3F0QhvOc9S2beChII=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczM35KBQ4G2AlNi90AvXY6WldD8XVrnsjZPO2f1SxtegPwLxUvawt_91Xxp7Wd9xUyKup9Hw5QT0-FdXfTS-SBPlK83p0lvo2Yr_ICTTdK7pJL6P171a=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMBx9tmjSoThY5Cpmgrd8yz3XCRUBcMqxkYU__ybDcOPESfD89GAPsrzeciq_xMJvmhlOr6VbQQeyIAW9lIxLPb0-JNtSa9BG6Mv3wZdKKFnqlOvM3K=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczPZJXZvfVuiL2bE9zBeKpBxcsenSBZaSGOmhN8lPZ646YjDDbsrjBk2CUa3nvpf9NDUQwk84tRWt2pZlJTzLbhuu6rL1d64Ii-9J2xNS3CKzUS6T7vY=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczNT309j_UWllJClJ7-tmDCOs_7zNL6TcX77WItYSJ-yZV4eq984aaRbTyuaoXa2c_lHDc1wplE8x4Q5EgLBF0eQM1I_GMp3f3b_JnTlRv2WJI0WkA4S=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczOUx71uVqNv9CATHPJlzDwvP01O_CjwfxeWs_egHloS_ADWXBf86Pz0Vgs_M849VBSxs-PZ2ivszybSyfwFMwKVl1KO-85Wo7tAbL5HazGtG74QSe-g=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMm8hAuC0bTbYJEIY6iVcVgj0F6q3sCvBIk8gyLtG9ROpbFAl6dCd01r9DZ5FGZ8O-LlUczMvzlFchOopHdRYLLvneUvHRTaBULpAhvS9tJBx8cytdW=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczONcHS3GmLiMOb4TzMyMvvIUjGPolTzbDD3aJBEwRV57q1LN6qSCTmDDlRvKijR4wFJ7u6SzwIC7beRXn5yACTxjLqsNQLwg_3g0B5PMomUqJ9iWCc_=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczNDAf_7H-HBe47M-MsXQi1IOGqgob9NMOOGNebDBmOxnulQoy8p4t2qKENEwCRqn_8OFLYfglCo5-dEl6CSIUvYHmYnQ_yYEHmmtCVL6wUPvu2GOOt9=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczNfxUmgvbYiGZcTLEM1hicMkJCm_FISBdqKpR61bowRok7aAG-NwUBZO8bAesLSR3--CSM5zAJKX-Y_u9G0mv0PbRF1QLluyE_oTwKBRE24rUY9waJa=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczPDUC5h2QwnAuOu5tkqc1qBIPHFLnvSGAMfnjveQwmDkG8nkhQYSUHy07upceVd5C57XQh1EqSVfvgAl1NGKSTLWWEZoQPO-gN0RNd8S7Xc4gsHIz_n=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczOqzJfyxkY7imkPsPn2sUgWDdZJJvGMopIFMvXe1d2Ar7DXoseh95_E0cBgdA5EbgYl1HaN-QNbmyawSleR3PHIV-Vqk_MDRvG3hKZeYnRJVrLYsLaJ=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczNUDZS-zWEfxfoZURwvJ3Z4bbE4HSsy8KC9Up8b-YyjjAsCxlRaY6if_GgU5ip1jEBS3QNYZYn93UTlenCgHlYj8L8Y5rL0p6h1IWPe0wXMohgJ3O5Q=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczPk8BsbgUMMjplr5CEh6-kQ-yPgFrq7inactEWOJJsnn47kSyoUgWtbUXLRUWibGP2YYBNdLMQ2333Kv70Yv2TKLD-gqkVymvQ3D46hqnssG5k3VtOe=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMeUT3LBnT0gWWYS0KHSl1aM-M1FIZ7_ZNwPnnRnlCFCs_i09QSSCT91OX9zAMZQJBzNP4qkq3t5qGFxBbM88Jx9sZKR_O714ICu7bUdcinKC92b3s5=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMnCsKesk8GIeyiTQg3yWZ_4gem3C53sMx1-ke9ckQxJ4bTUBGjiOw1X_9mhK2cI4Isl_WvyYF2Qyn-I7bO75A1lbmjX21UgCoT_b2tLU2tXF5q5R1S=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMdj0NOrr-RIAiJ3V89hwQllnqMFc-CP36wNTCvDQBuzVSHfZSFUmQEAHEBg_hzwirQGIVQKq9GCjRlhAENaCT3AScx3YXRVITTZyW97HpSXo1zvMo1=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMHH85v5ht9_aqwVEAdpOO_WJ_rj7iDwSINdmweVGuRZz8LniKpR04fnGmkNo22TNkVeZGGw5OvR6NTv7Q8arQdWjS91IN74s5IMoEdGYQeVsR8NOmN=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczNADFpXfMmbuQYX8hjCIM8yuTtqxI6gCPtRa_Gdf9REHdnCR-YTjX2nciyhSra5BSm1NjSxCAcbOmHNVQyi5E3r-BNgYDP1lPaU4Qy5ofzIve6xlXTu=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczPT-m8N0CnP1X_osUJAEHOKZ9bv9voK_rkvxrXdc7bTyqRK98C_NvyvV4m-g_OrhYyIPnVPHXUyKyotGRExRnZnTBPbFETJl2ZA4GhjPD7bvtHdQBAS=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMPDB5jq_3RrsZkinx1GftpwOJt2Fl0Am7rMeGZqJj8bdX1ctkAduh3eaX2HCcamppBrAP2EU9B5Z05SToKZMIT45p5MDdDT8UExPTI6DLTpdMKFBnz=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMwlPD0KDWVqi_t9-1_ChdWz8hjzHwsg5YcTzt_4eyZWsmf_dpauqdX5mDGPYY8nsjTvw248GJByUwU4GjHsXEj8b-5GG33YP-YhEJXvicA9UpvgQ46=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczMYQngHgt1k8KFgcrWw4G1tdjDhMJpDixd1qy39NjYrrAeH_yM78FAUfaNQF9B9Eyt9RscSK7rs7ISP0M3zJNW_H7KFe-lG4n-joRUj3WvnEw6Bsh9F=w1920-h1080"></object>
        <object data="https://lh3.googleusercontent.com/pw/AP1GczOWxN6Mq34oWx9XI8snCU1FmP2pkmINF_3DmZfGvT_-V_va5x4mFXPMApO2VypzuKIHo4tLrgpIjSxgf1C0RgsSK-ghREeOZGko0EtdstxkDZ0WSx-Y=w1920-h1080"></object>
      </div>

   </div>
</div>

{% include "footer.html" %}