{% include "header.html" %}

<!-- Used this to embed my google album: https://www.publicalbum.org/blog/embedding-google-photos-albums -->

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Travel</h1>
        <p class="lead text-body-secondary">Seeing as much of the world as I can.</p>
        <p>
<!--          <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--          <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
      </div>
    </div>
  </section>
<!--TODO: Make all of the cards the same size-->
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/norway_2024_2.JPG"width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p class="card-text"><b>Norway 2023</b></p>
              <p class="card-text">Third time's a charm!  Went to Norway and achieved my goal of seeing the Northern
              lights.  Then worked my way down to Frankfurt (via Oslo, Stockholm, Copenhagen and Berlin) to see the
              Chiefs beat the Dolphins.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('norway') }}" target="_blank" class="btn btn-sm btn-outline-secondary">View Highlights</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/argentina_2022.jpg" width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p class="card-text"><b>Argentina 2022</b></p>
              <p class="card-text">Post-covid working from home had me stir-crazy.  So I got an AirBnB in Buenos Aires
              for a month and worked from there.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('argentina') }}" class="btn btn-sm btn-outline-secondary">View Highlights</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/assets/alaska.jpg" width="100%" height="100%" fill="#55595c">
            <div class="card-body">
              <p class="card-text"><b>Alaska 2020</b></p>
              <p class="card-text">My first trip after the covid shutdown.  Took the Alaska Railway from Anchorage
              to Fairbanks.  Spent 4 nights at Borealis Basecamp looking for the Northern Lights.  No luck.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('alaska') }}" class="btn btn-sm btn-outline-secondary">View Highlights</a>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

<!--        TODO: finish or remove the remaining tiles-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <div class="card shadow-sm">-->
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--              <div class="d-flex justify-content-between align-items-center">-->
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
<!--                <small class="text-body-secondary">9 mins</small>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</main>

{% include "footer.html" %}